@media screen and (min-width: 992px) and (max-device-width: 1199px) {


    .bar {
        width: 1199px!important;
     
       
    }
    .main {
        width: 1199px!important;
       
     
    }
.mainn{
    width: 1199px !important;
}
.new{
    margin-left: 380px !important;
}

}







@media screen and (min-width: 768px) and (max-device-width: 991px) {


    .bar {
        width: 991px!important;
     
       
    }
    .main {
        width: 991px!important;
       
     
    }
    .mainn{
        width: 991px !important;
    }
    .nnew{
        margin-left: 360px !important;
    }
    .ii{
        width: 991px !important;
    }
    .imgone{
        width: 951px !important;
    }
    .abu,.abuu,.abuuu,.abuuuu{
        margin-left: 100px !important;
    }
    .scu,.scuu,.scuuu,.scuuuu,.scuuuuu,.scuuuuuu,.scuuuuuuu{
        margin-left: 100px !important;
    }
    .dno{
        margin-left: 25px !important;
      }
      .dnt{
        margin-left: 360px !important;
      }
      .dnth{
        margin-left: 700px !important;
      }

}





@media screen and (min-width: 576px) and (max-device-width: 767px) {


    

    .bar {
        width: 767px!important;
     background-color: transparent !important;
       
    }
    .main {
        width: 767px!important;
       
     
    }
    .mainn{
        width: 767px !important;
    }
    .nnew{
        margin-left: 260px !important;
        
      }
    .ii{
        width: 767px !important;
    height: 500px !important;

    }
    .imgone{
        width: 727px !important;
        height: 500px !important;
    }
    .abu,.abuu,.abuuu,.abuuuu{
        margin-left: 30px !important;
    }
    .scu,.scuu,.scuuu,.scuuuu,.scuuuuu,.scuuuuuu,.scuuuuuuu{
        margin-left: 30px !important;
    }
    .dno{
        margin-left: 25px !important;
      }
      .dnt{
        margin-left: 360px !important;
      }
      .dnth{
        margin-left: 700px !important;
      }
      .ch{
        font-size: 35px !important;
        margin-top: -650px !important;
      }
      .pod{
        font-size: 35px !important;
      }
      .abu{
        margin-top: 700px !important;
      }
      .dno{
        margin-left: 15px !important;
        font-size: 10px !important;
      }
      .dnt{
        margin-left: 280px !important;
        font-size: 10px !important;
      }
      .dnth{
        margin-left: 550px !important;
        font-size: 10px !important;
      }

}
















@media screen and (min-device-width:425px ) 
and (max-device-width: 575px) {



    .bar {
        width: 575px!important;

    }
    

.feriri{
margin-left: -10px!important;
}
    .racing{
        margin-left: -50px!important;
        font-size: 9px!important;
      }
      .sportscar{
        margin-left: 0px!important;
        
      }
      
      .collections{
        margin-left: -25px!important;
        font-size: 9px!important;
        margin-top: 33px!important;
      
      }
      .experence{
        margin-left: 340px!important;
        font-size: 9px!important;
        margin-top: -25px!important;
      
      
      }
      .aboutus{
        margin-left: 530px!important;
        font-size: 9px!important;
      
      margin-top: -37px!important;
      
      }
      

    .main {
        width: 575px!important;
       
     
    }
    .mainn{
        width: 575px !important;
    }
    .nnew{
        margin-left: 180px !important;
        
        font-size: 25px !important;
      }
    .ii{
        width: 575px !important;
    height: 500px !important;

    }
    .imgone{
        width: 575px !important;
        height: 500px !important;
    }
    .abu,.abuu,.abuuu,.abuuuu{
        margin-left: 30px !important;
    }
    .scu,.scuu,.scuuu,.scuuuu,.scuuuuu,.scuuuuuu,.scuuuuuuu{
        margin-left: 30px !important;
    }
    .dno{
        margin-left: 25px !important;
      }
      .dnt{
        margin-left: 360px !important;
      }
      .dnth{
        margin-left: 700px !important;
      }
      .ch{
        font-size: 35px !important;
        margin-top: -650px !important;
      }
      .pod{
        font-size: 35px !important;
      }
      .abu{
        margin-top: 700px !important;
      }
      .dno{
        margin-left: 12px !important;
        font-size: 6px !important;
        margin-top: -230px !important;
      }
      .dnt{
        margin-left: 210px !important;
        font-size: 6px !important;
        margin-top: -24px !important;
      }
      .dnth{
        margin-left: 414px !important;
        font-size: 6px !important;
        margin-top: -24px !important;
      }
      .divimgone{
        width: 225px !important;
        height: 140px !important;
      }
}













@media screen and (min-device-width: 375px) 
and (max-device-width: 425px) {





    .bar {
        width:425px!important;
     
       
    }
    

.feriri{
margin-left: -10px!important;
}
.racing{
margin-left: -40px!important;
font-size: 6px!important;
}
.sportscar{
margin-left: -20px!important;

}

.collections{
margin-left: -65px!important;
font-size: 6px!important;
margin-top: 39px!important;

}
.experence{
margin-left: 315px!important;
font-size: 6px!important;
margin-top: -31px!important;


}
.aboutus{
margin-left: 380px!important;
font-size: 6px!important;

margin-top: -31px!important;

}

    .main {
        width:425px!important;
       
     
    }
    .mainn{
        width: 425px !important;
    }
    .nnew{
        margin-left: 120px !important;
       margin-top: -300px !important;
        font-size: 22px !important;
      }
    .ii{
        width: 425px !important;
    height: 300px !important;

    }
    .imgone{
        width: 425px !important;
        height: 300px !important;
    }
    .abu,.abuu,.abuuu,.abuuuu{
        margin-left: 30px !important;
    }
    .scu,.scuu,.scuuu,.scuuuu,.scuuuuu,.scuuuuuu,.scuuuuuuu{
        margin-left: 30px !important;
    }
    .dno{
        margin-left: 25px !important;
      }
      .dnt{
        margin-left: 360px !important;
      }
      .dnth{
        margin-left: 700px !important;
      }
      .ch{
        font-size: 25px !important;
        margin-top: -450px !important;
      }
      .pod{
        font-size: 25px !important;
      }
      .abu{
        margin-top: 500px !important;
      }
      .dno{
        margin-left: 12px !important;
        font-size: 4px !important;
        margin-top: -230px !important;
      }
      
      .dnt{
        margin-left: 150px !important;
        font-size: 4px !important;
        margin-top: -17px !important;
      }
      .dnth{
        margin-left: 314px !important;
        font-size: 4px !important;
        margin-top: -19px !important;
      }
      .divimgone{
        width: 225px !important;
        height: 140px !important;
      }

}