
@media screen and (min-width: 992px) and (max-device-width: 1199px) {


    .bar {
        width: 1199px!important;
     
       
    }
    .main {
        width: 1199px!important;
       
     
    }
   
    .maintwo{
        width: 1199px!important;
    }
    .mainnine{
        width: 1199px!important;
    }
    .mainnineee,.mainninee{
        width: 1199px!important;
    }
    .rowone{
        width: 1199px!important;
    }
    .rowfour{
        width: 1199px!important;
    }
    .rowfive{
        width: 1199px!important;
    }
}




@media screen and (min-width: 768px) and (max-device-width: 991px) {


    .bar {
        width: 991px!important;
     
       
    }
    .main {
        width: 991px!important;
       
     
    }
   
    .maintwo{
        width: 991px!important;
    }
    .mainnine{
        width: 991px!important;
    }
    .mainnineee,.mainninee{
        width: 991px!important;
    }
    .rowone{
        width: 991px!important;
    }
    .rowfour{
        width: 991px!important;
    }
    .rowfive{
        width: 991px!important;
    }
    .ett{
        margin-left: 450px!important;
    }
    .ppt{
        margin-left: -120px!important;
    }
    .rowtwo{
        width: 991px!important;
    }
  .p,.ppppp,.ppppppppp,.ppppppppppppp{
    margin-left: -60px!important;
  }
.pp,.pppppp,.pppppppppp,.pppppppppppppp{
    margin-left: -90px!important;
}
.ppp,.ppppppp,.ppppppppppp,.ppppppppppppppp{
    margin-left: -120px!important;
}
.pppp,.pppppppp,.pppppppppppp,.pppppppppppppppp{
    margin-left: -150px!important;
}

}



@media screen and (min-width: 576px) and (max-device-width: 767px) {




    .bar {
        width: 767px!important;
     
       
    }
    .main {
        width: 767px!important;
       
     
    }
   
    .maintwo{
        width: 767px!important;
    }
    .mainnine{
        width: 767px!important;
    }
    .mainnineee,.mainninee{
        width: 767px!important;
    }
    .rowone{
        width: 767px!important;
    }
    .rowfour{
        width: 767px!important;
    }
    .rowfive{
        width: 767px!important;
    }
    .ett{
        margin-left: 350px!important;
    }
    .ppt{
        margin-left: -180px!important;
        font-size:8px !important; 
    }
    .rowtwo{
        width: 767px!important;
    }
  .p,.ppppp,.ppppppppp,.ppppppppppppp{
    margin-left: -60px!important;
    font-size: 12px!important;
  }
.pp,.pppppp,.pppppppppp,.pppppppppppppp{
    margin-left: -150px!important;
    font-size: 12px!important;
}
.ppp,.ppppppp,.ppppppppppp,.ppppppppppppppp{
    margin-left: -240px!important;
    font-size: 12px!important;
}
.pppp,.pppppppp,.pppppppppppp,.pppppppppppppppp{
    margin-left: -320px!important;
    font-size: 12px!important;
}

.rt{
    margin-top: -100px!important;
}
.rtt{
    margin-top: -90px!important;
}


}




@media screen and (min-device-width:425px ) 
    and (max-device-width: 575px) {



        .bar {
            width: 575px!important;
         
           
        }
        

.feriri{
    margin-left: -10px!important;
}
        .racing{
            margin-left: -50px!important;
            font-size: 9px!important;
          }
          .sportscar{
            margin-left: 0px!important;
            
          }
          
          .collections{
            margin-left: -25px!important;
            font-size: 9px!important;
            margin-top: 33px!important;
          
          }
          .experence{
            margin-left: 340px!important;
            font-size: 9px!important;
            margin-top: -25px!important;
          
          
          }
          .aboutus{
            margin-left: 530px!important;
            font-size: 9px!important;
          
          margin-top: -37px!important;
          
          }
       






        .main {
            width: 575px!important;
           
         
        }
       
        .maintwo{
            width: 575px!important;
        }
        .mainnine{
            width: 575px!important;
        }
        .mainnineee,.mainninee{
            width: 575px!important;
        }
        .mainninee{
            height: 231px!important;
        }
        .rowone{
            width: 575px!important;
        }
       
        .rowfour{
            width: 575px!important;
        }
        .rowfive{
            width: 575px!important;
        }
        .ett{
            margin-left: 260px!important;
        }
        .ppt{
            margin-left: -160px!important;
            font-size:6px !important; 
            width: 500px!important;
        }
        .rowtwo{
            width: 575px!important;
        }
      .p,.ppppp,.ppppppppp,.ppppppppppppp{
        margin-left: -60px!important;
        font-size: 12px!important;
      }
    .pp,.pppppp,.pppppppppp,.pppppppppppppp{
        margin-left: -200px!important;
        font-size: 12px!important;
    }
    .ppp,.ppppppp,.ppppppppppp,.ppppppppppppppp{
        margin-left: -330px!important;
        font-size: 12px!important;
    }
    .pppp,.pppppppp,.pppppppppppp,.pppppppppppppppp{
        margin-left: -470px!important;
        font-size: 12px!important;
    }
   
    .rt{
        margin-top: -180px!important;
    }
    .rtt{
        margin-top: -150px!important;
    }
    #seaa{
        width: 121.5px!important;
        margin-left: 0px!important;
    }




    }

    @media screen and (min-device-width: 375px) 
    and (max-device-width: 425px) {





        .bar {
            width:425px!important;
         
           
        }
        

.feriri{
    margin-left: -10px!important;
}
.racing{
    margin-left: -40px!important;
    font-size: 6px!important;
  }
  .sportscar{
    margin-left: -20px!important;
    
  }
  
  .collections{
    margin-left: -65px!important;
    font-size: 6px!important;
    margin-top: 39px!important;
  
  }
  .experence{
    margin-left: 315px!important;
    font-size: 6px!important;
    margin-top: -31px!important;
  
  
  }
  .aboutus{
    margin-left: 380px!important;
    font-size: 6px!important;
  
  margin-top: -31px!important;
  
  }
       






        .main {
            width:425px!important;
           
         
        }
       
        .maintwo{
            width:425px!important;
        }
        .mainnine{
            width:425px!important;
        }
        .mainnineee,.mainninee{
            width: 425px!important;
        }
        .mainninee{
            height: 231px!important;
        }
        .rowone{
            width: 425px!important;
        }
       
        .rowfour{
            width: 425px!important;
            
        }
        .rowfive{
            width: 425px!important;
        }
        .ett{
            margin-left: 170px!important;
        }
        .ppt{
            margin-left: -160px!important;
            font-size:6px !important; 
            width: 300px!important;
        }
        .rowtwo{
            width: 425px!important;
  
        }
      .p,.ppppp,.ppppppppp,.ppppppppppppp{
        margin-left: -60px!important;
        font-size: 6px!important;
      }
    .pp,.pppppp,.pppppppppp,.pppppppppppppp{
        margin-left: -235px!important;
        font-size: 6px!important;
    }
    .ppp,.ppppppp,.ppppppppppp,.ppppppppppppppp{
        margin-left: -410px!important;
        font-size: 6px!important;
    }
    .pppp,.pppppppp,.pppppppppppp,.pppppppppppppppp{
        margin-left: -580px!important;
        font-size: 6px!important;
    }
   
    .rt{
        margin-top: -230px!important;
    }
    .rtt{
        margin-top: -210px!important;
    }
    #seaa{
        width: 121.5px!important;
        margin-left: 0px!important;
    }











    }