
@media screen and (min-width: 1240px) and (max-device-width: 1244px) {


  .bar {
    width: 1244px!important;
    height: 90px!important;
   
}
.main {
    width: 1244px!important;
    height: 800px!important;
    margin-top: 10px!important;
    
}
.mainthree{
  width: 1244px!important;
  height: 800px;
  margin-left: 0px!important;
  margin-top: 16px!important;
}
.video-slide{
  width: 1244px!important;
  height: 700px!important;
  margin-top: -10px!important;
}
.img{
  width: 50px!important;
  height: 59px!important;
  margin-top: 23px!important;
  margin-left: 15px!important;
}
.racing{
  margin-left: 20px!important;
  font-size: 25px!important;
}
.sportscar{
  margin-left: 80px!important;
  width: 500px!important;
}
.chtp{
  width: 180px!important;
  height: 200px!important;
}
.collections{
  margin-left: -260px!important;
  font-size: 25px!important;
  margin-top: 30px!important;

}
.experence{
  margin-left: -38px!important;
  font-size: 25px!important;
  margin-top: 30px!important;


}
.aboutus{
  margin-left: 890px!important;
  font-size: 25px!important;
width: 500px!important;
margin-top: -53px!important;

}
.aboutt{
  font-size: 25px!important;
}
.show{
  margin-left: 240px!important;
  margin-top: 440px!important;
width: 900px!important;
  font-size: 65px!important;
}
.dha{
  margin-left: 0px!important;
  margin-top: 30px!important;
}
.dis{
  margin-left: 470px!important;

  margin-top: 50px!important;
 
}
.lighh{
  font-size: 25px!important;
}
.abu{
  font-size: 40px!important;
  margin-top: 100px!important;
}
.abuuu{
  font-size: 40px!important;
  margin-top: -60px!important;
}
.abuuuu{
  font-size: 40px!important;
  margin-top: -60px!important;
}
.abuuuuu{
  font-size: 40px!important;
  margin-top: -60px!important;
}
.abuu{
   font-size: 20px!important; 
   margin-top: -40px!important;
   width: 600px!important;
}
.mm{
  font-size: 20px!important;
  margin-top: 0px!important;
}
.imgone{
  margin-left: 630px!important;
  margin-top: -570px!important;
}
.chtp{
  width: 450px!important;
  height: 500px!important;
}
.mainfour{
  /* width: 375px!important; */
  margin-top: 50px!important;

}
.fourone,.fiveone,.sixone{
  width: 622px!important;
  height: 550px!important;
  /* margin-left:-100px!important; */
}
.mainfive{
  margin-top: 90px!important;
}
.fourtwo,.fivetwo,.sixtwo{
  width: 622px!important;
  /* margin-right: -100px!important; */
  height: 550px!important;
}
.coll{
  margin-left: 210px!important;
  font-size: 25px!important;
  margin-top: 340px!important;
}
.partylook{
  margin-left: 100px!important;
  font-size: 55px!important;
}
.diss{
  margin-left: 130px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.fourtwoone{
  margin-left: 270px!important;
  font-size: 25px!important;
  margin-top: 340px!important;
}
.fourtwotwo{
  margin-left: 130px!important;
  font-size: 55px!important;
}
.fourtwothree{
  margin-left: 220px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.colll{
  margin-left: 170px!important;
  font-size: 25px!important;
  margin-top: 340px!important;
}
.partylookk{
  margin-left: 120px!important;
  font-size: 55px!important;
}
.disss{
  margin-left: 200px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.fivetwoone{
  margin-left: 260px!important;
  font-size: 25px!important;
  margin-top: 340px!important;
}
.fivetwotwo{
  margin-left: 130px!important;
  font-size: 55px!important;
}
.fivetwothree{
  margin-left: 200px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.mainsix{
  margin-top: 90px!important;

}
.partylookkk{
  margin-left: 100px!important;
  font-size: 55px!important;
  margin-top: 350px!important ;
}
.dissss{
  margin-left: 200px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.sixtwotwo{
  margin-left: 100px!important;
  font-size: 55px!important;
  margin-top: 350px!important;

}
.sixtwothree{
  margin-left: 200px!important;
  margin-top: -20px!important;
  font-size: 25px!important;
}
.footer{
  margin-top: 60px!important;
}



}

@media screen and (min-width: 1245px) and (max-device-width: 1440px) {
    .bar {
        width: 1440px!important;
        height: 90px!important;
       
    }
    .main {
        width: 1440px!important;
        height: 800px!important;
        
    }
    .mainthree{
      width: 1440px!important;
      height: 800px;
      margin-left: 0px!important;
      margin-top: 16px!important;
    }
    .video-slide{
      width: 1440px!important;
      height: 100vh!important;
      margin-top: -10px!important;
    }
    .img{
      width: 50px!important;
      height: 59px!important;
      margin-top: 23px!important;
      margin-left: 15px!important;
    }
    .racing{
      margin-left: 20px!important;
      font-size: 25px!important;
    }
    .sportscar{
      margin-left: 80px!important;
      width: 500px!important;
    }
    .chtp{
      width: 180px!important;
      height: 200px!important;
    }
    .collections{
      margin-left: -260px!important;
      font-size: 25px!important;
      margin-top: 30px!important;
  
    }
    .experence{
      margin-left: -38px!important;
      font-size: 25px!important;
      margin-top: 30px!important;
  
  
    }
    .aboutus{
      margin-left: 840px!important;
      font-size: 25px!important;
    width: 500px!important;
    margin-top: -26px!important;
    
    }
    .aboutt{
      font-size: 25px!important;
    }
    .show{
      margin-left: 340px!important;
      margin-top: 440px!important;
  width: 900px!important;
      font-size: 65px!important;
    }
    .dha{
      margin-left: 100px!important;
    }
    .dis{
      margin-left: 580px!important;
  
      margin-top: 50px!important;
     
    }
    .lighh{
      font-size: 25px!important;
    }
    .abu{
      font-size: 40px!important;
      margin-top: 100px!important;
    }
    .abuuu{
      font-size: 40px!important;
      margin-top: -60px!important;
    }
    .abuuuu{
      font-size: 40px!important;
      margin-top: -60px!important;
    }
    .abuuuuu{
      font-size: 40px!important;
      margin-top: -60px!important;
    }
    .abuu{
       font-size: 20px!important; 
       margin-top: -40px!important;
       width: 600px!important;
    }
    .mm{
      font-size: 20px!important;
      margin-top: 0px!important;
    }
    .imgone{
      margin-left: 630px!important;
      margin-top: -570px!important;
    }
    .chtp{
      width: 450px!important;
      height: 500px!important;
    }
    .mainfour{
      /* width: 375px!important; */
      margin-top: 50px!important;
  
    }
    .fourone,.fiveone,.sixone{
      width: 720px!important;
      height: 550px!important;
      margin-left:-100px!important;
    }
    .mainfive{
      margin-top: 90px!important;
    }
    .fourtwo,.fivetwo,.sixtwo{
      width: 720px!important;
      margin-right: -100px!important;
      height: 550px!important;
    }
    .coll{
      margin-left: 250px!important;
      font-size: 25px!important;
      margin-top: 340px!important;
    }
    .partylook{
      margin-left: 130px!important;
      font-size: 55px!important;
    }
    .diss{
      margin-left: 170px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .fourtwoone{
      margin-left: 270px!important;
      font-size: 25px!important;
      margin-top: 340px!important;
    }
    .fourtwotwo{
      margin-left: 130px!important;
      font-size: 55px!important;
    }
    .fourtwothree{
      margin-left: 230px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .colll{
      margin-left: 210px!important;
      font-size: 25px!important;
      margin-top: 340px!important;
    }
    .partylookk{
      margin-left: 160px!important;
      font-size: 55px!important;
    }
    .disss{
      margin-left: 230px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .fivetwoone{
      margin-left: 290px!important;
      font-size: 25px!important;
      margin-top: 340px!important;
    }
    .fivetwotwo{
      margin-left: 160px!important;
      font-size: 55px!important;
    }
    .fivetwothree{
      margin-left: 230px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .mainsix{
      margin-top: 90px!important;
  
    }
    .partylookkk{
      margin-left: 140px!important;
      font-size: 55px!important;
      margin-top: 350px!important ;
    }
    .dissss{
      margin-left: 230px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .sixtwotwo{
      margin-left: 140px!important;
      font-size: 55px!important;
      margin-top: 350px!important;
  
    }
    .sixtwothree{
      margin-left: 230px!important;
      margin-top: -20px!important;
      font-size: 25px!important;
    }
    .footer{
      margin-top: 60px!important;
    }
   
    
   
}

@media screen and (min-width: 992px) and (max-device-width: 1199px) {
  .bar {
      width: 1199px!important;
      height: 90px!important;
     
  }
  .main {
      width: 1199px!important;
      height: 800px!important;
   
  }
  .mainthree{
    width: 1199px!important;
    height: 800px;
    margin-left: 0px!important;
    margin-top: 16px!important;
  }
  .video-slide{
    width: 1199px!important;
    height: 100vh!important;
    margin-top: -10px!important;
  }
  .img{
    width: 48px!important;
    height: 49px!important;
    margin-top: 23px!important;
    margin-left: 15px!important;
  }
  .racing{
    margin-left: 0px!important;
    font-size: 20px!important;
  }
  .sportscar{
    margin-left: 50px!important;
    width: 500px!important;
  }
  .chtp{
    width: 180px!important;
    height: 200px!important;
  }
  .collections{
    margin-left: -300px!important;
    font-size: 20px!important;
    margin-top: 30px!important;

  }
  .experence{
    margin-left: -98px!important;
    font-size: 20px!important;
    margin-top: 30px!important;


  }
  .aboutus{
    margin-left: 790px!important;
    font-size: 20px!important;
  width: 500px!important;
  margin-top: -42px!important;
  
  }
  .aboutt{
    font-size: 20px!important;
  }
  .show{
    margin-left: 260px!important;
    margin-top: 490px!important;
width: 700px!important;
    font-size: 55px!important;
  }
  .dha{
    margin-left: -20px!important;
  }
  .dis{
    margin-left: 480px!important;

    margin-top: 40px!important;
   
  }
  .lighh{
    font-size: 20px!important;
  }
  .abu{
    font-size: 35px!important;
    margin-top: 100px!important;
  }
  .abuuu{
    font-size: 35px!important;
    margin-top: -60px!important;
  }
  .abuuuu{
    font-size: 35px!important;
    margin-top: -60px!important;
  }
  .abuuuuu{
    font-size: 35px!important;
    margin-top: -60px!important;
  }
  .abuu{
     font-size: 15px!important; 
     margin-top: -40px!important;
  }
  .mm{
    font-size: 15px!important;
    margin-top: 0px!important;
  }
  .imgone{
    margin-left: 630px!important;
    margin-top: -530px!important;
  }
  .chtp{
    width: 450px!important;
    height: 500px!important;
  }
  .mainfour{
    /* width: 375px!important; */
    margin-top: 50px!important;

  }
  .fourone,.fiveone,.sixone{
    width: 599px!important;
    height: 450px!important;
  }
  .mainfive{
    margin-top: -10px!important;
  }
  .fourtwo,.fivetwo,.sixtwo{
    width: 599px!important;
    margin-right: 45px!important;
    height: 450px!important;
  }
  .coll{
    margin-left: 200px!important;
    font-size: 20px!important;
    margin-top: 230px!important;
  }
  .partylook{
    margin-left: 100px!important;
    font-size: 45px!important;
  }
  .diss{
    margin-left: 130px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .fourtwoone{
    margin-left: 230px!important;
    font-size: 20px!important;
    margin-top: 230px!important;
  }
  .fourtwotwo{
    margin-left: 130px!important;
    font-size: 45px!important;
  }
  .fourtwothree{
    margin-left: 190px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .colll{
    margin-left: 160px!important;
    font-size: 20px!important;
    margin-top: 230px!important;
  }
  .partylookk{
    margin-left: 120px!important;
    font-size: 45px!important;
  }
  .disss{
    margin-left: 190px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .fivetwoone{
    margin-left: 230px!important;
    font-size: 20px!important;
    margin-top: 230px!important;
  }
  .fivetwotwo{
    margin-left: 120px!important;
    font-size: 45px!important;
  }
  .fivetwothree{
    margin-left: 190px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .mainsix{
    margin-top: -10px!important;

  }
  .partylookkk{
    margin-left: 110px!important;
    font-size: 45px!important;
    margin-top: -50px!important ;
  }
  .dissss{
    margin-left: 190px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .sixtwotwo{
    margin-left: 120px!important;
    font-size: 45px!important;
    margin-top: -50px!important;

  }
  .sixtwothree{
    margin-left: 190px!important;
    margin-top: 20px!important;
    font-size: 20px!important;
  }
  .footer{
    margin-top: -40px!important;
  }
  



}

/* For Desktop View */
@media screen and (min-width: 768px) and (max-device-width: 991px) {
    .bar {
        width: 991px!important;
        height: 90px!important;
    }
    .main {
        width: 991px!important;
        height: 800px!important;
    
    }
    .mainthree{
      width: 991px!important;
      height: 800px;
      margin-left: 0px!important;
      margin-top: 16px!important;
    }
    .video-slide{
      width: 991px!important;
      height: 100vh!important;
      margin-top: -10px!important;
    }
    .img{
      width: 40px!important;
      height: 48px!important;
      margin-top: 23px!important;
      margin-left: 15px!important;
    }
    .racing{
      margin-left: 0px!important;
      font-size: 15px!important;
    }
    .sportscar{
      margin-left: 15px!important;
      
    }
    .chtp{
      width: 180px!important;
      height: 200px!important;
    }
    .collections{
      margin-left: 20px!important;
      font-size: 15px!important;
      margin-top: 30px!important;
  
    }
    .experence{
      margin-left: 38px!important;
      font-size: 15px!important;
      margin-top: 30px!important;
  
  
    }
    .aboutus{
      margin-left: 590px!important;
      font-size: 15px!important;
    
    margin-top: -26px!important;
    
    }
    .aboutt{
      font-size: 15px!important;
    }
    .show{
      margin-left: 230px!important;
      margin-top: 490px!important;
  width: 600px!important;
      font-size: 45px!important;
    }
    .dha{
      margin-left: -20px!important;
    }
    .dis{
      margin-left: 400px!important;
  
      margin-top: 30px!important;
     
    }
    .lighh{
      font-size: 15px!important;
    }
    .abu{
      font-size: 28px!important;
      margin-top: 100px!important;
    }
    .abuuu{
      font-size: 28px!important;
      margin-top: -80px!important;
    }
    .abuuuu{
      font-size: 28px!important;
      margin-top: -80px!important;
    }
    .abuuuuu{
      font-size: 28px!important;
      margin-top: -80px!important;
    }
    .abuu{
       font-size: 15px!important; 
       margin-top: -60px!important;
    }
    .mm{
      font-size: 10px!important;
      margin-top: 0px!important;
    }
    .imgone{
      margin-left: 500px!important;
      margin-top: -450px!important;
    }
    .chtp{
      width: 350px!important;
      height: 400px!important;
    }
    .mainfour{
      /* width: 375px!important; */
      margin-top: -50px!important;
  
    }
    .fourone,.fiveone,.sixone{
      width: 495px!important;
      height: 400px!important;
    }
    .mainfive{
      margin-top: -60px!important;
    }
    .fourtwo,.fivetwo,.sixtwo{
      width: 495px!important;
      margin-right: 253px!important;
      height: 400px!important;
    }
    .coll{
      margin-left: 150px!important;
      font-size: 20px!important;
      margin-top: 230px!important;
    }
    .partylook{
      margin-left: 60px!important;
      font-size: 45px!important;
    }
    .diss{
      margin-left: 80px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .fourtwoone{
      margin-left: 180px!important;
      font-size: 20px!important;
      margin-top: 230px!important;
    }
    .fourtwotwo{
      margin-left: 70px!important;
      font-size: 45px!important;
    }
    .fourtwothree{
      margin-left: 130px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .colll{
      margin-left: 120px!important;
      font-size: 20px!important;
      margin-top: 230px!important;
    }
    .partylookk{
      margin-left: 70px!important;
      font-size: 45px!important;
    }
    .disss{
      margin-left: 120px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .fivetwoone{
      margin-left: 180px!important;
      font-size: 20px!important;
      margin-top: 230px!important;
    }
    .fivetwotwo{
      margin-left: 60px!important;
      font-size: 45px!important;
    }
    .fivetwothree{
      margin-left: 120px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .mainsix{
      margin-top: -60px!important;
  
    }
    .partylookkk{
      margin-left: 45px!important;
      font-size: 45px!important;
      margin-top: -50px!important ;
    }
    .dissss{
      margin-left: 120px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .sixtwotwo{
      margin-left: 70px!important;
      font-size: 45px!important;
      margin-top: -50px!important;
  
    }
    .sixtwothree{
      margin-left: 120px!important;
      margin-top: 20px!important;
      font-size: 20px!important;
    }
    .footer{
      margin-top: -90px!important;
    }
    
  
   
   
}
@media screen and (min-width: 576px) and (max-device-width: 767px) {
  .bar {
      width: 767px!important;
      height: 90px!important;
     
  }
  .main {
      width: 767px!important;
      height: 800px!important;
     
  }
  .mainthree{
    width: 767px!important;
    height: 800px;
    margin-left: 0px!important;
    margin-top: 16px!important;
  }
  .video-slide{
    width: 767px!important;
    height: 100vh!important;
    margin-top: -100px!important;
  }
  .img{
    width: 30px!important;
    height: 40px!important;
    margin-top: 23px!important;
    margin-left: 15px!important;
  }
  .racing{
    margin-left: 0px!important;
    font-size: 13px!important;
  }
  .sportscar{
    margin-left: 20px!important;
    
  }
  .chtp{
    width: 180px!important;
    height: 200px!important;
  }
  .collections{
    margin-left: 0px!important;
    font-size: 13px!important;
    margin-top: 32px!important;

  }
  .experence{
    margin-left: 18px!important;
    font-size: 13px!important;
    margin-top: 32px!important;


  }
  .aboutus{
    margin-left: 520px!important;
    font-size: 13px!important;
  
  margin-top: -26px!important;
  
  }
  .aboutt{
    font-size: 13px!important;
  }
  .show{
    margin-left: 170px!important;
    margin-top: 490px!important;

    font-size: 35px!important;
  }
  .dha{
    margin-left: -20px!important;
  }
  .dis{
    margin-left: 300px!important;

    margin-top: 10px!important;
   
  }
  .lighh{
    font-size: 13px!important;
  }
  .abu{
    font-size: 20px!important;
    margin-top: 100px!important;
  }
  .abuuu{
    font-size: 20px!important;
    margin-top: -100px!important;
  }
  .abuuuu{
    font-size: 20px!important;
    margin-top: -100px!important;
  }
  .abuuuuu{
    font-size: 20px!important;
    margin-top: -100px!important;
  }
  .abuu{
     font-size: 12px!important; 
     margin-top: -90px!important;
  }
  .mm{
    font-size: 10px!important;
    margin-top: -40px!important;
  }
  .imgone{
    margin-left: 430px!important;
    margin-top: -330px!important;
  }
  .chtp{
    width: 230px!important;
    height: 250px!important;
  }
  .mainfour{
    /* width: 375px!important; */
    margin-top: -200px!important;

  }
  .fourone,.fiveone,.sixone{
    width: 383px!important;
    height: 300px!important;
  }
  .mainfive{
    margin-top: -160px!important;
  }
  .fourtwo,.fivetwo,.sixtwo{
    width: 383px!important;
    margin-right: 477px!important;
    height: 300px!important;
  }
  .coll{
    margin-left: 120px!important;
    font-size: 15px!important;
    margin-top: 170px!important;
  }
  .partylook{
    margin-left: 50px!important;
    font-size: 35px!important;
  }
  .diss{
    margin-left: 80px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .fourtwoone{
    margin-left: 140px!important;
    font-size: 15px!important;
    margin-top: 170px!important;
  }
  .fourtwotwo{
    margin-left: 50px!important;
    font-size: 35px!important;
  }
  .fourtwothree{
    margin-left: 130px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .colll{
    margin-left: 100px!important;
    font-size: 15px!important;
    margin-top: 170px!important;
  }
  .partylookk{
    margin-left: 60px!important;
    font-size: 35px!important;
  }
  .disss{
    margin-left: 120px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .fivetwoone{
    margin-left: 150px!important;
    font-size: 15px!important;
    margin-top: 170px!important;
  }
  .fivetwotwo{
    margin-left: 60px!important;
    font-size: 35px!important;
  }
  .fivetwothree{
    margin-left: 120px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .mainsix{
    margin-top: -160px!important;

  }
  .partylookkk{
    margin-left: 45px!important;
    font-size: 35px!important;
    margin-top: -80px!important ;
  }
  .dissss{
    margin-left: 120px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .sixtwotwo{
    margin-left: 50px!important;
    font-size: 35px!important;
    margin-top: -80px!important;

  }
  .sixtwothree{
    margin-left: 120px!important;
    margin-top: 20px!important;
    font-size: 10px!important;
  }
  .footer{
    margin-top: -300px!important;
  }
  
 
 
}
 
/* For Tablet View */
@media screen and (min-device-width:425px ) 
    and (max-device-width: 575px) {
    .bar {
        width: 560px !important;
        height: 90px!important;
        
    }
    .main {
        width: 560px!important;
        height: 800px!important;
        margin: auto;
       
    }
    .mainthree{
      width: 560px!important;
      height: 800px;
      margin-left: 0px!important;
      margin-top: 16px!important;
    }
    .video-slide{
      width: 560px!important;
      height: 100vh!important;
      margin-top: -100px!important;
    }
    .img{
      width: 30px!important;
      height: 40px!important;
      margin-top: 23px!important;
      margin-left: 15px!important;
    }
    .racing{
      margin-left: -30px!important;
      font-size: 9px!important;
    }
    .sportscar{
      margin-left: 0px!important;
      
    }
    .chtp{
      width: 180px!important;
      height: 200px!important;
    }
    .collections{
      margin-left: -70px!important;
      font-size: 9px!important;
      margin-top: 35px!important;

    }
    .experence{
      margin-left: 273px!important;
      font-size: 9px!important;
      margin-top: -25px!important;


    }
    .aboutus{
      margin-left: 440px!important;
      font-size: 9px!important;
    
    margin-top: -28px!important;
    
    }
    .aboutt{
      font-size: 9px!important;
    }
    .show{
      margin-left: 90px!important;
      margin-top: 460px!important;
 
      font-size: 30px!important;
    }
    .dha{
      margin-left: -70px!important;
    }
    .dis{
      margin-left: 220px!important;

      margin-top: 10px!important;
     
    }
    .lighh{
      font-size: 9px!important;
    }
    .abu{
      font-size: 13px!important;
    }
    .abuuu{
      font-size: 13px!important;
      margin-top: -100px!important;
    }
    .abuuuu{
      font-size: 13px!important;
      margin-top: -100px!important;
    }
    .abuuuuu{
      font-size: 13px!important;
      margin-top: -100px!important;
    }
    .abuu{
       font-size: 7px!important; 
       margin-top: -90px!important;
    }
    .mm{
      font-size: 10px!important;
      margin-top: -90px!important;
    }
    .imgone{
      margin-left: 360px!important;
      margin-top: -300px!important;
    }
    .mainfour{
      /* width: 375px!important; */
      margin-top: -200px!important;

    }
    .fourone,.fiveone,.sixone{
      width: 280px!important;
      height: 300px!important;
    }
    .mainfive{
      margin-top: -160px!important;
    }
    .fourtwo,.fivetwo,.sixtwo{
      width: 280px!important;
      margin-right: 684px!important;
      height: 300px!important;
    }
    .coll{
      margin-left: 80px!important;
      font-size: 12px!important;
      margin-top: 170px!important;
    }
    .partylook{
      margin-left: 35px!important;
      font-size: 25px!important;
    }
    .diss{
      margin-left: 70px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fourtwoone{
      margin-left: 110px!important;
      font-size: 12px!important;
      margin-top: 170px!important;
    }
    .fourtwotwo{
      margin-left: 45px!important;
      font-size: 25px!important;
    }
    .fourtwothree{
      margin-left: 100px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .colll{
      margin-left: 60px!important;
      font-size: 12px!important;
      margin-top: 170px!important;
    }
    .partylookk{
      margin-left: 40px!important;
      font-size: 25px!important;
    }
    .disss{
      margin-left: 90px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fivetwoone{
      margin-left: 100px!important;
      font-size: 12px!important;
      margin-top: 170px!important;
    }
    .fivetwotwo{
      margin-left: 40px!important;
      font-size: 25px!important;
    }
    .fivetwothree{
      margin-left: 90px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .mainsix{
      margin-top: -160px!important;

    }
    .partylookkk{
      margin-left: 30px!important;
      font-size: 25px!important;
      margin-top: -80px!important ;
    }
    .dissss{
      margin-left: 100px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .sixtwotwo{
      margin-left: 40px!important;
      font-size: 25px!important;
      margin-top: -80px!important;

    }
    .sixtwothree{
      margin-left: 100px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .footer{
      margin-top: -300px!important;
    }

 

    }  
 
/* For Mobile Portrait View */
@media screen and (min-device-width: 375px) 
    and (max-device-width: 425px) {
    .bar {
        width: 410px!important;
        height: 90px!important;
        
    }
    .main {
        width: 410px!important;
        height: 800px!important;
        margin: auto;
       
        
    }

  
    .mainthree{
      width: 410px!important;
      height: 800px;
      margin-left: 0px!important;
      margin-top: 16px!important;

    }
    .video-slide{
      width: 410px!important;
      height: 100vh!important;
      margin-top: -140px!important;
    }
    .img{
      width: 30px!important;
      height: 40px!important;
      margin-top: 23px!important;
      margin-left: 15px!important;
    }
    .racing{
      margin-left: -30px!important;
      font-size: 6px!important;
    }
    .sportscar{
      margin-left: -20px!important;
      
    }
    .chtp{
      width: 180px!important;
      height: 200px!important;
    }
    .collections{
      margin-left: -90px!important;
      font-size: 6px!important;
      margin-top: 39px!important;

    }
    .experence{
      margin-left: 253px!important;
      font-size: 6px!important;
      margin-top: -25px!important;


    }
    .aboutus{
      margin-left: 350px!important;
      font-size: 6px!important;
    
    margin-top: -25px!important;
    
    }
    .show{
      margin-left: 70px!important;
      margin-top: 460px!important;
 
      font-size: 20px!important;
    }
    .dha{
      margin-left: -140px!important;
    }
    .dis{
      margin-left: 290px!important;
      margin-left: 150px!important;
      margin-top: 0px!important;
     
    }
    .lighh{
      font-size: 6px!important;
    }
    .abu{
      font-size: 10px!important;
    }
    .abuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuuuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuu{
       font-size: 5px!important; 
       margin-top: -100px!important;
    }
    .mm{
      font-size: 10px!important;
      margin-top: -100px!important;
    }
    .imgone{
      margin-left: 320px!important;
      margin-top: -250px!important;
    }
    .mainfour{
      /* width: 375px!important; */
      margin-top: -200px!important;

    }
    .fourone,.fiveone,.sixone{
      width: 205px!important;
      height: 200px!important;
    }
    .mainfive{
      margin-top: -260px!important;
    }
    .fourtwo,.fivetwo,.sixtwo{
      width: 205px!important;
      margin-right: 834px!important;
      height: 200px!important;
    }
    .coll{
      margin-left: 60px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .partylook{
      margin-left: 35px!important;
      font-size: 13px!important;
    }
    .diss{
      margin-left: 20px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fourtwoone{
      margin-left: 75px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .fourtwotwo{
      margin-left: 45px!important;
      font-size: 13px!important;
    }
    .fourtwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .colll{
      margin-left: 50px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .partylookk{
      margin-left: 40px!important;
      font-size: 13px!important;
    }
    .disss{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fivetwoone{
      margin-left: 78px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .fivetwotwo{
      margin-left: 40px!important;
      font-size: 13px!important;
    }
    .fivetwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .mainsix{
      margin-top: -260px!important;

    }
    .partylookkk{
      margin-left: 30px!important;
      font-size: 13px!important;
      margin-top: -160px!important ;
    }
    .dissss{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .sixtwotwo{
      margin-left: 40px!important;
      font-size: 13px!important;
      margin-top: -160px!important;

    }
    .sixtwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .footer{
      margin-top: -300px!important;
    }
  }
 
/* For Mobile Landscape View */
@media screen and (min-device-width: 320px) 
    and (max-device-width: 375px) {
    .bar {
        width: 375px!important;
        height: 90px!important;
        
    }
    .main {
        width: 375px!important ;
        height: 800px!important;
        background-color: transparent!important;
        
        
    }
    .mainthree{
      width: 375px!important;
      height: 450px!important;
      margin-left: 0px!important;
      margin-top: 16px!important;
    }
    .video-slide{
      width: 375px!important;
      height: 100vh!important;
      margin-top: -148px!important;
    }
    .img{
      width: 30px!important;
      height: 40px!important;
      margin-top: 23px!important;
      margin-left: 0px!important;
    }
    .racing{
      margin-left: -30px!important;
      font-size: 6px!important;
    }
    .sportscar{
      margin-left: -20px!important;
      
    }
    .chtp{
      width: 180px!important;
      height: 200px!important;
    }
    .collections{
      margin-left: -90px!important;
      font-size: 6px!important;
      margin-top: 39px!important;

    }
    .experence{
      margin-left: 240px!important;
      font-size: 6px!important;
      margin-top: -25px!important;


    }
    .aboutus{
      margin-left: 340px!important;
      font-size: 6px!important;
    
    margin-top: -25px!important;
    
    }
    .show{
      margin-left: 120px!important;
      margin-left: 60px!important;
      font-size: 20px!important;
      margin-top: 465px!important;
    }
    .dha{
      margin-left: -140px!important;
    }
    .dis{
      margin-left: 290px!important;
      margin-left: 100px!important;
      margin-top: 0px!important;
     
    }
    .lighh{
      font-size: 6px!important;
    }
    .abu{
      font-size: 10px!important;
    }
    .abuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuuuuu{
      font-size: 10px!important;
      margin-top: -110px!important;
    }
    .abuu{
       font-size: 5px!important; 
       margin-top: -100px!important;
    }
    .mm{
      font-size: 10px!important;
      margin-top: -100px!important;
    }
    .imgone{
      margin-left: 310px!important;
      margin-top: -250px!important;
    }
    .mainfour{
      /* width: 375px!important; */
      margin-top: -200px!important;

    }
    .fourone,.fiveone,.sixone{
      width: 187px!important;
      height: 200px!important;
    }
    .mainfive{
      margin-top: -260px!important;
    }
    .fourtwo,.fivetwo,.sixtwo{
      width: 187px!important;
      margin-right: 870px!important;
      height: 200px!important;
    }
    .coll{
      margin-left: 60px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .partylook{
      margin-left: 35px!important;
      font-size: 13px!important;
    }
    .diss{
      margin-left: 20px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fourtwoone{
      margin-left: 75px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .fourtwotwo{
      margin-left: 45px!important;
      font-size: 13px!important;
    }
    .fourtwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .colll{
      margin-left: 50px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .partylookk{
      margin-left: 40px!important;
      font-size: 13px!important;
    }
    .disss{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .fivetwoone{
      margin-left: 78px!important;
      font-size: 6px!important;
      margin-top: 110px!important;
    }
    .fivetwotwo{
      margin-left: 40px!important;
      font-size: 13px!important;
    }
    .fivetwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .mainsix{
      margin-top: -260px!important;

    }
    .partylookkk{
      margin-left: 30px!important;
      font-size: 13px!important;
      margin-top: -160px!important ;
    }
    .dissss{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .sixtwotwo{
      margin-left: 40px!important;
      font-size: 13px!important;
      margin-top: -160px!important;

    }
    .sixtwothree{
      margin-left: 50px!important;
      margin-top: -20px!important;
      font-size: 6px!important;
    }
    .footer{
      margin-top: -300px!important;
    }
   
}
 












